:root {
  --white: #fff;
  --views-buton-hover: #2a4dd5;
  --color-title: #25292c;
  --color-secondary-text: #838798;
  --theme-bright-bg: #f9b607;
  --theme-dark-bg: #25292c;
  --color: #454545;
  --button-hover: rgba(42, 77, 213, 0.4);
  --shadow-bright: rgba(249, 182, 7, 0.4);
  --textarea-bg: #9fa5b7;
  --textarea-input-border: #eee;
  // Text sizes.
  --line-height: 1.5;
  --font-size-base: 1rem; /* 1rem = 16px if font root is 100% ands browser defaults are used. */
  --font-size-h1: 2.027rem; /* ~32px */
  --font-size-h2: 1.802rem; /* ~29px */
  --font-size-h3: 1.602rem; /* ~26px */
  --font-size-h4: 1.424rem; /* ~23px */
  --font-size-h5: 1.266rem; /* ~20px */
  --font-size-h6: 1.125rem; /* 18px */
  --font-size-sm: 0.889rem; /* ~14px */
  --font-size-xs: 0.79rem; /* ~13px */
  --font-size-xxs: 0.702rem; /* ~11px */

  --font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-monospace: "JetBrains Mono", "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}